<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config='true' >
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/customer/**" access="hasRole('ROLE_USER')" />
        <form-login
                login-page="/loginPage"
                default-target-url="/product/productList/"
                always-use-default-target="true"
                authentication-failure-url="/loginPage?error"
                username-parameter="username"
                password-parameter="password"
        />
        <logout logout-success-url="/loginPage?logout" />
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service
                    data-source-ref="dataSource"
                    authorities-by-username-query="SELECT username, authority FROM authorities WHERE username = ?"
                    users-by-username-query="SELECT name, password, enabled FROM users WHERE name = ?"
            />
        </authentication-provider>
    </authentication-manager>

</beans:beans>